* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2EC4B6;
    font-family: Arial, Helvetica, sans-serif;
    color: 011627;
    height: 100vh;
    font-size: 16px;
    word-break: normal;
}

[class ^= "box-"] {
    display: grid;
    place-items: center;
    /* border: solid 5px orangered; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px
    rgba(0,0,0,.1);
  }

.container {
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px auto;
}

.box-me {
    grid-column: 1 / 4;

    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1.5ch;
    
}

.box-hdrinfo {
    grid-column: 1/4;
}

.box-mine {
    grid-column: 1/2;
    background-color: #20A4F3;
}

.box-tools {
    grid-column: 2/3;
    background-color: #F6F7F8;
}

.box-learn {
    grid-column: 3/4;
}

.box-blog {
    grid-column: 1/4;
    text-align: justify;
}

h4 {
    text-decoration: underline;
    font-weight: bold;
}

.box-warning {
    grid-column: 1 / 4;
    
    text-decoration: overline;
    text-decoration: underline;
    
    text-decoration-color: #FF3366;
    text-transform: uppercase;
    
    background-color: grey;
    color:
    
    border: dashed 5px yellow;
}

.box-oldblog {
    grid-column: 1 / 4;
}