body {
    /* #F3F9E3 */
    background-image: linear-gradient(180deg, pink, white);
    font-family: monospace, 'Courier New', Courier, monospace;
    color: grey, black;
    margin-left: 25%;
    margin-right: 25%;
    font-size: larger;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.ball {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: purple;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(45deg,#F038FF, #DBFCFF);
}

.card {
    background-image: linear-gradient(45deg,#F038FF, #DBFCFF);
    color: black;
    border-width: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    width: 50%;
    padding: 25px 50px 25px 50px;
    margin: auto;
}

a:hover {
    color: violet;
    
}

.blog{
    text-align: center;
}

.oldblog {
    padding: 25px;
    margin-top: 50px;
    border-style: dashed;
    border-width: 10px;
    border-color: black;
    color: black;
    width: 50%;
    margin: auto;
}
